h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
.name{
    text-align: left!important;
}

.contactdiv{
    display: inline-block;
    width: auto;
}